{% extends 'base.html' %}

{% block head %}
<title>Warehouse availability</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Warehouse availability of {{ selected_category }}</h1>

    <form method="POST">
        <label>Select category:</label>
        {{ form.csrf_token }}
        {{ form.category }}
        <input type="submit" value="select or update">
    </form>

    <table>
        <tr>
            <th>Nr</th>
            <th>Product Name</th>
            <th>Manufacturer</th>
            <th>Colors</th>
            <th>Price</th>
            <th>Availability</th>
        </tr>
        {% for product in products %}
        <tr>
            <td scope="index">{{ loop.index }}</td>
            <td>{{ product["name"] }}</td>
            <td>{{ product["manufacturer"] }}</td>
            <td>{{ product["color"] }}</td>
            <td scope="price">{{ product["price"] }}</td>
            {% if product["available"] == "Unknown" %}
            <td scope="loading">loading ...</td>
            {% else %}
            <td>{{ product["available"] }}</td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}